
body{
    display: flex;
    flex-direction: column;
}

header{
    height: 100px;
    background: rgba(5,7,12,0.9);    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: x-large;
    font-family: "Hanalei Fill";
    color: beige;

}
header p{
    margin-left: 2em;
}
header .ulheader{
    display: flex;
    justify-content: space-between;
    gap: 2em;
    margin-right: 2em;
    flex-direction: row;
    list-style-type: none;
}
.logo{/*logo de la empresa en header*/
    border: solid rgb(24, 24, 160) 2px;
    border-radius: 50%;
    height: 75px; width: 75px;
}
.headercontainer{
  background-image: url(imagenes/paisaje-japones-1.jpg);
  background-repeat: no-repeat;
  background-attachment:initial;
  background-size: cover;
  background-attachment: fixed;
}

main, .footercontainer .div3{/*Contenedor principal de lista de artes marciales con imagenes*/
    display: flex;
    height: fit-content;
    justify-content: center;
    background: rgba(5,7,12,0.70);}
.div1{
    height:fit-content;
    display: flex;
    justify-content: center;
}
.div1 .frase-imagen{
    height: fit-content;
    width: 80%;
    margin-top: 2%;
    background: rgba(2, 3, 5, 0.5);/*Propiedad para generar un fondo transparente sobre el div*/
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin: 2em;
}
.div1 .frase-imagen div{
    width: 45%;
    height: 275px;
    font-size: 20px;
    text-align: center;
    border: solid beige 3px;
    padding: 1em;
    margin: 2em;
    margin-bottom: 20px;
    border-radius: 8px;
    color: beige;
}
.div1 .frase-imagen ul{
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap:8px;
    padding-top: 8px;
}
.frase-imagen ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 2em;
}
.frase-imagen2 ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.imagen-b{
    height: 150px;
    width: 200px;
    border-radius: 15px;
}
.headercontainer .div2, .footercontainer .div2{
    background: black ;
    color: beige;
    font-size: 40px;
    text-align: center;
    /*width: 100%;*/
    height: 80px;
    margin: 0%;
    padding-top: 0.1em;
    padding-bottom: 1em;
    font-family: "Hanalei Fill";
    border: solid beige 6px;
}
main .div3, .footercontainer .div3{/*div donde se encuentran las imagenes de las distintas artes marciales */
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.uldiv3{/*Lista de artes marciales en imagenes*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.uldiv3 li{
    list-style-type: none;
    border: 2px beige solid;
    border-radius: 20%;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.uldiv3 div{
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
    opacity: 0;
    font-family: "Hanalei Fill";
    font-size: 1.5em;
}
/*--Efecto al Pasar cursor sobre imagenes--*/
/*-----------------------------------------*/
.uldiv3 div:hover{
    transition: 1s;
    opacity: 1;
    background: rgba(5,7,12,0.70);
    font-size: 2.5em;
    text-align: center;
    cursor: pointer;
}
#lista-productos div:hover{
 font-size: 2em;
}
/*------------------------------------------*/
.imagen-c{/*imagenes en la lista uldiv3*/
    width:200px;
    height:200px;
    border-radius: 20%;
}
.div4{
    display: flex;
    justify-content: center;
    color: beige;
}
.div4 .frase-imagen2{/*contenedor con frase e imagen y boton de inscripcion*/
    height: fit-content;
    width: 65%;
    margin-top: 2%;
    background: rgba(5,7,12,0.6);/*Propiedad para generar un fondo transparente sobre el div*/
    border-radius: 10px;
    margin: 2em;
}
.div4 .frase-imagen2 ul{
    display: flex;
    gap:1em;
    padding-right: 2em;
    font-size: 18px;
}
#frase-Soho{
    padding-top: 1em;
}
#libro-Soho{
    text-align: end;
}
#boton-A{
    font-size: x-large;
    font-family: "Hanalei Fill";
    width: fit-content ;
    background-color: brown;
    color: beige;
    margin-bottom: 0.1em;
    margin-left: 4em;
    border-radius: 5px;
}
footer{
    height: 100px;
    background: rgba(5,7,12,0.40);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    margin-top: 30px;
    color: aliceblue;
}
.footercontainer{
    background-image: url(imagenes/arco-japones-2.jpg);
    background-repeat: no-repeat;
    background-attachment:initial;
    background-size: cover;
    background-attachment: fixed;
  }
  